# Verify your Android Studio Setup

Let's make sure the plumbing is still working.

Fire up your starter app:

1. Open Android Studio
1. Open the sample "Hello World" app that you created during the prework for this course
1. Verify that you can still run that app in either an emulator or on your phone, plugged in with USB.

Submit a screenshot of your running app for this assignment.
